* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Permanent Marker', cursive;
}




.fa-redo-alt {
    animation-name: loadTransform;
    animation-iteration-count: 5s;
    animation-duration: 5s;
    font-size: 60px;
    
}
.main-page{
    animation: loadBody 0s 5s forwards;
    visibility: hidden;
}

@keyframes loadTransform {
    from {
        visibility: visible; 
        color: white;
        transform: rotate(45deg);
        opacity: 1;
    }
    25% {
        color: rgb(218, 83, 83);
        transform: rotate(90deg)
    }
    50% {
        color: rgb(214, 4, 4);
        transform: rotate(180deg)
    }
    to {
        transform: rotate(45deg);
        position: relative;
        
    }
}


@keyframes loadBody {
    to   { 
        position: absolute;
        visibility: visible; 
        z-index: 4;
    }
}


.navbar_navigator {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.navigator_font-size-color {
    font-size: 2rem;
    background: #1A4D14;
    color: white;
}

.header_image-banner-parrot {
    background: url('image/parrot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-page__header {
    width: 100%;
    height: 1000px;
}

.title_text-font-cursive-color-white {
    color: white;
    font-size: 9rem;
}

.header__title {
    text-align: end;
    padding: 80px;
}

.main-paige__description {
    width: auto;
    padding: 10px;
}

.desc-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.desc-image_first-image-src-parrot-2 {
    background: url('image/parrot-2.jpg');
    background-size: cover;
}

.desc-image_first-image-src-parrot-3 {
    background: url('image/parrot-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.desc-image_first-image-src-parrot-4 {
    background: url('image/parrot-4.jpg');
    background-size: cover;
}

.desc-image_first-image-src-parrot-5 {
    background: url('image/parrot-5.jpg');
    background-size: cover;
}

.desc-text {
    width: 500px;
    height: 200px;
    text-align: center;
    margin-left: 20px;
}

.description_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-with-text {
    display: flex;
}

.main-page__footer {
    width: 80%;
    border: 1px solid rgb(189, 186, 189);
    border-radius: 30px 30px 0 0;
    border-bottom: none;
    margin: auto;
    background: rgb(230, 230, 230);
}

.copyright_text-align {
    text-align: center;
}