@import url('./style/header.css');
@import url('./style/clients.css');
@import url('./style/pricing.css');
@import url('./style/products.css');
@import url('./style/feature.css');
@import url('./style/contact.css');
@import url('./style/common.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Hind, sans-serif;
}

h3 {
    font-weight: 700;
    color: #515769;
    line-height: 1.5;
}

p {
    color: #a6a7aa;
    font-size: 17px; 
}