html {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    background: #F7F8F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-form-cont_bg-light-green {
    background: #F7F8F9;
}

.header-form-cont__image-people {
    border: 1px solid #000;
    background-image: url("./image/imgpsh_fullsize.jpg");
    background-size: contain;
    width: 500px;
    height: 600px;
}

.title_color-red-position-center {
    color: #FD5353;
    text-align: center;
    font-size: 2rem;
    padding-top: 60px;
}

.form-create-acc_wrapper {
    border: 1px solid #000;
    width: 500px;
    font-weight: 600;
    height: 600px;
}

.header-form-cont_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.social-net_wrapper {
    display: flex;
    margin: 30px 145px;
}

.fa-size {
    border: 1px solid #000;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 6px;
    margin: 0 10px 0 12px;
}

.sub-title_wrapper {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 100;
}

.input-for-email-name-password_wrapper{
display: flex;
justify-content: center;
margin-top: 20px;
}

.registration{
    width: 380px;
    height: 45px;
    margin: 0 20px 15px 20px;
    background-color: #F7F8F9;
    border: #DAE5EA 2px solid;
    border-radius:10px;
    padding: 15px;
}

.registration-i-agee{
    margin: 5px 0 0 25px;
    width: 25px;
    height: 25px;
}

.span-words{
    color: #FD5353;
}

.label_font-size{
    font-size: 1rem;
    position: relative;
    left: 15px;
    bottom: 6px;
    font-weight: 100;
    color: #435459;
}

.button-sign{
    width: 180px;
    height:50px;
    margin: 20px 10px 0 10px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 600;
}

.input-button_wrapper{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.button-sign_bg-color-orange{
    background-color: #FD5353;
    border: none;
    color: white;
}

.button-sign_bg-color-white{
    background-color: white;
    border: 2px #FD5353 solid;
    color: #FD5353;
}