.switch-button{
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 5px;
    background: transparent;
}

.feature{
    width: 380px;
    height: 250px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}

.fa-feature{
    font-size: 30px;
    color: #999caa;
}

.desc-feature{
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
}

.img-cont-products{
    width: 360px;
    height: 240px;
    /* border: 1px solid #000; */
}

.title-cont-products{
    width: 360px;
    height: 50px;
    /* border: 1px solid #000; */
    padding-top: 10px;
}

.desc-cont-products{
    width: 360px;
    height: 100px;
    /* border: 1px solid #000; */
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
}

.read-more{
    padding-top: 20px;
}

.list{
    padding-bottom: 10px;
}

.button-choose-price{
    width: 120px;
    height: 50px;
    color: #515769;
    background: #f3f4f5;
    border-color: transparent;
}