.main-paige_size-bg-color {
    width: 100%;
    /* border: 1px solid #000; */
    height: 650px;
    background: #fafafa;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.feature-cont_margin-size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 500px;
    /* border: 1px solid #000; */
    background: white;
}