.header-paige_size-bg-image {
    width: 100%;
    height: 100vh;
    background: url('../img/1920x1080/01.jpg');
    background-position: 2px -93px;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-nav_img-asentus {
    position: relative;
    right: 200px;
}

.navigation_size-wrap {
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar_size-wrap {
    display: flex;
    justify-content: space-between;
    width: auto;
    width: 500px;
}

.nav-elem {
    color: white;
    font-weight: 600;
    font-size: 13px;
}

.header-paige__navigation {
    /* background: url('../img/1920x1080/01.jpg');
    background-repeat: no-repeat; */
    background: transparent;
    position: fixed;
    z-index: 2;
}


.main-hi-tech-design_size-wrap{
width: 100%;
height: 90vh;
}
.header-paige__main-hi-tech-design{
   /*  background: url('../img/1920x1080/01.jpg');
    background-position: 2px -93px;
    background-repeat: no-repeat;
    background-size: cover; */
}

.title-desc-button_size-wrap{
    width: 655px;
    height: 235px;
    padding: 260px 0 0 400px; 
}

.title-desc-button__desc-hi-tech{
padding-bottom:50px ;
}
.desc-hi-tech_font-size-40-px-color-white{
font-size: 40px;
color: white;
}
.title-desc-button__title-hi-tech{
    width: 800px;
    padding-bottom: 30px;
}

.desc-hi-tech_color-grey-font-size-15px{
    width: 490px;
    color: #a6a7aa;
}

.button-explore-bg-color-transparent{
    background: transparent;
    border-color: rgba(255,255,255,0.3);
    color: white;
    font-weight: 600;
}

.button-explore__button-explore{
    width: 125px;
    height: 50px;
    margin: 0 0 270px 0;  /* отступы кнопок для слайдера */
}

