.products-paige_size-wrap{
    width: 100%;
    height: 750px;
    /* border: 1px solid #000; */
}

.latest-products_width-wrap{
    width: 590px;
    height: 115px;
    margin: 100px 0 0 370px; /* может быть опасно , сместил latest product title */
}

.products-paige__cont-with-products{
    display: flex;
    justify-content: space-around;
    padding: 30px 350px 0 350px;
    
}

.img-cont-products_bg-triangle-roof{
background: url('../img/970x647/01.jpg');
background-size: cover;
}

.img-cont-products_bg-curved-corners{
    background: url('../img/970x647/02.jpg');
    background-size: cover;
}

.img-cont-products_bg-bird-on-green{
    background: url('../img/970x647/03.jpg');
    background-size: cover;
}

.title-products_padding-bottom{
    padding-bottom: 50px;
}

